@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&display=swap');

.bg-purple { background-color: #6f42c1; }
.bg-blue { background-color: #0000FF; }

* {
  font: 14px black;
  font-family: 'Kaisei HarunoUmi';
}

body, html, main {
  height: 100vh;
  overflow: hidden;
}

/* https://stackoverflow.com/questions/29038596/bootstrap-fixed-header-and-footer-with-scrolling-body-content-area-in-fluid-cont */
/* html body { */
/*   overflow: hidden; */
/* } */
html body .container-fluid.body-content {
  position: absolute;
  /* top: 50px; */
  /* bottom: 30px; */
  /* right: 0; */
  /* left: 0; */
  overflow-y: auto;
}
header {
    position: absolute;
    /* left: 0; */
    /* right: 0; */
    /* top: 0; */
    /* background-color: #4C4; */
    /* height: 50px; */
}

.scrollarea {
  overflow-y: auto;
}

.items-list {
  position: relative;
  /* height: 100%; */
  /* top: 40px; */
  /* rtl:raw:
  right: 0;
  */
  /* bottom: 0; */
  /* rtl:remove */
  /* left: 0; */
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

