.bg-purple { background-color: #6f42c1; }
.bg-blue { background-color: #0000FF; }

body, html, main {
  height: 100vh;
}

.scrollarea {
  overflow-y: auto;
}

.items-list {
  position: relative;
  height: 100%;
  /* top: 40px; */
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  /* left: 0; */
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.contacts-divider {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.col {
  border: solid 1px #6c757d;
}

.content-1 {
  background-color: lightcoral;
}

.content-2 {
    background-color: lightgreen;
}

.content-3 {
  background-color: lightblue;
}
