@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swa');
@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;500&display=swap');

:root {
    --foreground-color: #A6ACCD;
    --background-color: #292D3E;
    --dark-background-color: #1B1E2B;
    --accent-color: #A6ACCD;
    --accent-color-two: #C3E88D60;

    --white: #EEFFFF;
    --gray: #717CB4;

    --button-color: #6699cc;
    --delete-button-color: #EC5f67;
    --delete-button-hglt-color: #d16d92;
    --button-hglt-color: #80CBC4;

    --purple: #C792EA; 
    --dark-purple: #b480d6;
    --black: #000000;

    --font-color: #717CB4;
    --contrast-font-color: #000000;
    --font-accent-color: #676E95;
    --font-size: 1.2em;
	--main-font: 'IBM Plex Sans', sans-serif;
}

input {
  background-color: var(--white);
}

header {
  background-color: var(--dark-background-color);
  color: var(--font-color);
}

body {
    overflow: hidden;
    height: 100vh;
	background-color: var(--accent-color);
/*
    background: -webkit-linear-gradient(left, var(--accent-color), var(--accent-color-two));

*/
}

button:hover, button:active {
    background-color: var(--button-hglt-color);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.09);
    transition-duration: 0.6s;
    color: white;
	font-weight: 500;
}

label {
    font-size: 1.25rem;
	font-weight: 500;
    text-align: left;
    margin-bottom: 0;
    padding-bottom: 0;
	color: var(--font-accent-color);
}

h1 {
    font-size: 35px;
    color: var(--font-color);
    text-align: center;
    border: 2.5px solid var(--background-color);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.14),0 17px 50px 0 rgba(0,0,0,0.19);
	/*font-family: 'Bonheur Royale', cursive;*/
	font-family: var(--main-font);
}

/* Contact manager alert */
.cm-alert {
	font-family: var(--main-font);
	font-weight: 100;
  z-index: 1000;
  position: fixed;
  /* height: 100px; */
  /* width: 300px; */
  right: 0;
  /* display: flex; */
  justify-content: flex-end;
}

.cm-danger-alert {
  background-color: #F07178;
  color: #000000;
}

.cm-danger-alert:hover {
  background-color: #dc6068;
}


#vanta-canvas {
	width: 100vw;
	height: 100vh;
	z-index: 0;
	position: fixed;
}
